<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=LibraryManagement" />
		<property name="username" value="sa" />
		<property name="password" value="123456" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Definition for StaffJDBCTemplate bean -->
	<bean id="staffJDBC" class="com.model.DAO.Staff.StaffJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for StudentJDBCTemplate bean -->
	<bean id="studentJDBC" class="com.model.DAO.Student.StudentJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for CategoryJDBCTemplate bean -->
	<bean id="categoryJDBC" class="com.model.DAO.Category.CategoryJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for BookJDBCTemplate bean -->
	<bean id="bookJDBC" class="com.model.DAO.Book.BookJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Definition for BookJDBCTemplate bean -->
	<bean id="orderJDBC" class="com.model.DAO.Order.OrderJDBC">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
</beans>
